{% extends 'admin.html.twig' %}

{% block title %}Request list - {{ parent() }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="/assets/DataTables/dataTables.css">
    <link rel="stylesheet" type="text/css" href="/assets/colorbox/colorbox.css" media="all">
    <link rel="stylesheet" type="text/css" href="/public/css/request/list.css" media="all">
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-10 col-offset-1">
            <h2>Requests for Vehicle Reservations</h2>
        </div>
    </div><br/>
    <div class="content-nav">
        <div class="row">
            <div class="col-lg-10 col-offset-1">
                <ul class="nav nav-pills">
                    <li id="nPending">
                        <a href="#">Pending
                            <span id="pending" class="badge pull-right"></span>
                        </a>
                    </li>
                    <li id="nApproved">
                        <a href="#">Approved</a>
                    </li>
                    <li id="nDisapproved">
                        <a href="#">Disapproved</a>
                    </li>
                    <li id="nExpired">
                        <a href="#">Expired</a>
                    </li>
                    <li class="active">
                        <a href="#">All</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <br/><br/>
    <div class="main-content">
        <table class="table table-bordered table-hover dataTable" id="list1">
            <thead>
            <tr role="row">
                <th tabindex="0" role="columnheader" class="header headerSortDown">Req&nbsp;ID&nbsp;#
                </th>
                <th tabindex="0" role="columnheader" class="header headerSortDown">Requester's Name
                </th>
                <th tabindex="0" role="columnheader" class="header">Requested Vehicle
                </th>
                <th tabindex="0" role="columnheader" class="header">Requested Date/Time
                </th>
                <th tabindex="0" role="columnheader" class="header">Purpose of travel
                </th>
                <th tabindex="0" role="columnheader" class="header">
                </th>
            </tr>
            </thead>

            <tbody>
            <!-- table rows -->
            {% for i in 0..10 %}
                {% set status = 'warning' %}
                {% if i < 2 %}
                    {% set status = 'success' %}
                {% endif %}
                {% if i > 8 %}
                    {% set status = 'danger' %}
                {% endif %}

                <tr class="{{ status }}">
                    <td>0{{ i }}{{ i+1 }}</td>
                    <td>John doe</td>
                    <td>12-p Van</td>
                    <td>2013-06-{{ i+2 }} 3.00 PM</td>
                    <td>Meeting</td>
                    <td>
                        <a class="iframe details" href="request1-details.html">View</a> |
                        <a class="details" href="request1-print.html">Print</a>
                    </td>
                </tr>
                <tr class="{{ status }}">
                    <td>0{{ i+20 }}</td>
                    <td>Bob doe</td>
                    <td>4-p Sedan</td>
                    <td>2013-06-{{ i+5 }} 4.00 PM</td>
                    <td>Conference</td>
                    <td>
                        <a class="iframe details" href="request1-details.html">View</a> |
                        <a class="details" href="request1-print.html">Print</a>
                    </td>
                </tr>
            {% endfor %}

            <!--end table 1 rows -->
            </tbody>
        </table>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="/assets/DataTables/dataTables.js"></script>
    <script type="text/javascript" src="/assets/DataTables/DT_bootstrap.js"></script>
    <script type="text/javascript" src="/assets/chosen/chosen.jquery.js"></script>
    <script type="text/javascript" src="/assets/colorbox/jquery.colorbox-min.js"></script>
    <script type="text/javascript" src="/public/js/request/list.js"></script>
{% endblock %}

